<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的业绩frames</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" href="../../res/aui/css/aui.css">
    <link rel="stylesheet" href="../../res/css/main.css">
</head>

<body>
    <div id="app" v-cloak>
        <div id="main" class="padded_t_10">
            <div class="list padded_l_10 padded_r_10">
                <div class="padded_l_10 padded_r_10 padded_t_10 bg_f radius_4 fs_14 padded_b_10 margin_b_10" v-for="(i,index) in list" :key="index">
                    <div class="padded_t_5">
                        <p class="list_specs">
                            <span class="color_999 fs_14">订单编号</span>
                            <span class="fs_14 float_r">{{i.order_no}}</span>
                        </p>
                        <p class="list_specs">
                            <span class="color_999 fs_14">订单类型</span>
                            <span class="fs_14 float_r">{{title}}</span>
                        </p>
                        <p class="list_specs" v-if="type == 2">
                            <span class="color_999 fs_14">下单姓名</span>
                            <span class="fs_14 float_r">{{i.full_name}}</span>
                        </p>
                        <p class="list_specs" v-if="type == 2">
                            <span class="color_999 fs_14">下单手机</span>
                            <span class="fs_14 float_r">{{i.mobile}}</span>
                        </p>
                        <p class="list_specs">
                            <span class="color_999 fs_14">订单合计</span>
                            <span class="m_price fs_14 float_r">￥{{i.amount}}</span>
                        </p>
                        <p class="list_specs">
                            <span class="color_999 fs_14">下单时间</span>
                            <span class="color_999 fs_14 float_r">{{i.create_date}}</span>
                        </p>
                    </div>
                </div>
                <div class="no_list" v-if="list.length == 0">
                    <img src="../../res/images/no_data.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../res/vue/vue.js"></script>
<script type="text/javascript" src="../../res/script/utils.js"></script>
<script>
    apiready = function() {
        var UILoading = api.require('UILoading');
        new Vue({
            el: '#app',
            data: {
                title: api.pageParam.title,
                type: api.pageParam.type,
                list: [],
                start: 0,
            },
            mounted: function() {
                this.ajax();
                this.up_loading();
                this.down_loading();
            },
            methods: {
                ajax: function() {
                    this_ = this;
                    if(this_.type == 1){
                        utils.request({
                            url: utils.base_domain + '/api/user/Achievement',
                            name: '我的业绩 包含进货列表',
                            query: {
                                start: this_.start
                            },
                            success: function(ret) {
                                if (ret.code == 1) {
                                    this_.start += 10;
                                    this_.list.push.apply(this_.list, ret.data.stockLog);
                                } else {
                                    api.toast({
                                        msg: ret.message,
                                        duration: 2000,
                                        location: 'bottom'
                                    });
                                }
                            },
                            error: function(err) {
                                console.log('err' + JSON.stringify(err));
                            }
                        });
                    }else {
                        utils.request({
                            url: utils.base_domain + '/api/user/AchievementGift',
                            name: '我的业绩 包含进货列表',
                            query: {
                                start: this_.start
                            },
                            success: function(ret) {
                                if (ret.code == 1) {
                                    this_.start += 10;
                                    this_.list.push.apply(this_.list, ret.data.gift);
                                } else {
                                    api.toast({
                                        msg: ret.message,
                                        duration: 2000,
                                        location: 'bottom'
                                    });
                                }
                            },
                            error: function(err) {
                                console.log('err' + JSON.stringify(err));
                            }
                        });
                    }
                },
                up_loading: function() {
                    this_ = this;
                    api.setRefreshHeaderInfo({
                        visible: true,
                        loadingImg: '../image/timg.gif',
                        bgColor: '#ccc',
                        textColor: '#fff',
                        textDown: '下拉刷新...',
                        textUp: '松开刷新...',
                        showTime: true
                    }, function(ret, err) {
                        this_.ajax();
                        setTimeout('api.refreshHeaderLoadDone()', '500');
                    });
                },
                down_loading: function() {
                    this_ = this;
                    api.addEventListener({　　
                        name: 'scrolltobottom',
                        extra: {
                            threshold: 0
                        }
                    }, function(ret, err) {　　　　
                        UILoading.flower({
                            center: {
                                x: api.winWidth / 2.0,
                                y: api.winHeight / 2.0
                            },
                            size: 30,
                            fixed: true
                        }, function(ret) {
                            // alert(JSON.stringify(ret.id));
                            this_.ajax();
                            setTimeout(function() {
                                var uiloading = api.require('UILoading');
                                uiloading.closeFlower({
                                    id: ret.id
                                });
                            }, 500)
                        });
                    });
                }
            }
        })
    }
</script>

</html>
